__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

instance/
.webassets-cache

target/

.python-version

.mypy_cache/

.venv/

.vscode/
